.dsresults{
    
    background: yellow;
    opacity: .7;
    

}
.indresults{
    background: aqua;
    opacity: .7;

}
.dEresults{
    background: green;
    opacity: .7;
}
.progresults{
    background: orange;
    opacity: .7;
}