.tabpanebody {
    margin-top: 35px;
}

.detailsMoreBody {
    margin-top: 100px;
}

.alertHome {
    margin-top: 10px;
}

.buttonGroup {
    margin-top: 20px;
}

.letterResults {
    margin-top: 20px;
}

.content {
    margin-top: 20px;
}

.buttongroupDetsmarg {
    margin-top: 10px;
    margin-bottom: 10px;
}

.spinner {
    width: 60px;
    height: 60px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #3CBFDB;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: #cef transparent #cef transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D8ECF6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3CBFDB;
}